<IfModule mod_rewrite.c>
   AddHandler cgi-script .pl .cgi
   Options +ExecCGI +FollowSymLinks
   RewriteEngine On
   RewriteCond %{REQUEST_FILENAME} !-f
   RewriteRule ^ server/index.php [QSA,L]
</IfModule>
